<section class="text">
  <h2>Omniwave products</h2>
  <p>Read more about the <a href="/omnidrive-pro">Omnidrive Pro</a> for professional applications, or the <a href="/omnidrive-c">Omnidrive C</a> and the flagship <a href="/phantom-ii">Phantom II</a> for your home audio and cinema.</p>
</section>