<section>
  <h3>Where to buy</h3>
  <dl class="columns columns-3columns">
    <dt>AudioLife</dt>
    <dd>
      Hulsterstraat 26a
      <br>4116 EZ Buren
      <br>T (+31) 06-24380328
      <br>M (+31) 0344-570777
      <br>info@audio-life.nl
      <br>www.audio-life.nl
    </dd>
    <dt>Frontline Audio & Vision</dt>
    <dd>
      Buys Ballotstraat 15d
      <br>7131 PN Lichtenvoorde
      <br>T +31 (0)544 482 800
      <br>F +31 (0)544- 482 875
      <br>info@frontline-audio.nl
      <br>www.frontline-audio.nl
    </dd> 
    <dt>Geluid & Beeld NU!</dt>
    <dd>Oude Zeedijk 31
      <br>4571 PP Axel
      <br>T 0114 651 000
      <br>info@geluidenbeeld.nu
      <br>http://www.geluidenbeeld.nu
    </dd>
    <dt>Hifi Corner</dt>
    <dd>Willy Van De Velde
      <br>Paalstraat 128
      <br>2900 Schoten (B)
      <br>T +32(0)3 658 3470
      <br>vandevelde@hificorner.be
      <br>www.hificorner.be
    </dd>
    <dt>strey.one</dt>
    <dd>Horst Jörg Strey
      <br>Wrachtrupstraße 51
      <br>33699 Bielefeld (D)
      <br>T +49(0) 5202 998 88 50
      <br>horstjoerg@strey.one
      <br>www.strey.one
    </dd>
    <dt>Studio Alkmaar</dt>
    <dd>Ben Hoedjes
      <br>Dorpsstraat 49
      <br>1842 GT Oterleek
      <br>T +31(0)72 564 4055
      <br>studioalkmaar@quicknet.nl
      <br>www.studioalkmaar.nl
    </dd>
    <dt>The Modulor </dt>
    <dd>Ambachtstraat 6
      <br>3512 ES Utrecht
      <br>T +31 30 274 57 48
      <br>www.themodulor.com
      <br>info@themodulor.com
    </dd>
  </dl>
</section>