<section class="text text-wide">
  <h3>Where to buy</h3>
  <ul class="columns columns-3columns">
    <li>
      <h4>Belgium</h4>
    </li>
    <li>
      <h5>Hifi Corner</h5>
      Willy Van De Velde
      <br>Paalstraat 128
      <br>2900 Schoten (B)
      <br>T +32(0)3 658 3470
      <br>vandevelde@hificorner.be
      <br>www.hificorner.be
    </li>
    <li>
      <h4>Germany</h4>
    </li>
    <li>
      <h5>strey.one</h5>
      Horst Jörg Strey
      <br>Wrachtrupstraße 51
      <br>33699 Bielefeld (D)
      <br>T +49(0) 5202 998 88 50
      <br>horstjoerg@strey.one
      <br>www.strey.one
    </li>
    <li>
      <h4>Netherlands</h4>
    </li>
    <li>
      <h5>AudioLife</h5>
      Hulsterstraat 26a
      <br>4116 EZ Buren
      <br>T (+31) 06-24380328
      <br>M (+31) 0344-570777
      <br>info@audio-life.nl
      <br>www.audio-life.nl
    </li>
    <li>
      <h5>Frontline Audio & Vision</h5>
      Buys Ballotstraat 15d
      <br>7131 PN Lichtenvoorde
      <br>T +31 (0)544 482 800
      <br>F +31 (0)544- 482 875
      <br>info@frontline-audio.nl
      <br>www.frontline-audio.nl
    </li> 
    <li>
      <h5>Geluid & Beeld NU!</h5>
      Oude Zeedijk 31
      <br>4571 PP Axel
      <br>T 0114 651 000
      <br>info@geluidenbeeld.nu
      <br>http://www.geluidenbeeld.nu
    </li>
    <li>
      <h4>Panama</h4>
    </li>
    <li>
      <h5>Dr Audio</h5>
      T 507 6490-9333
      <br>www.doctoraudiopanama.com
    </li>
  </ul>
</section>