---
title: "How to contact Bloomline Acoustics"
description:
keywords:
---
<header>
  <h1>
    How to contact Bloomline Acoustics
  </h1>
</header>
<main>
  <section>
    <h3>Organization</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>R&D, Marketing</h4>
        <p>Our R&D and Marketing are handled by Bloomline Acoustics B.V., Chamber of Commerce 24481388.</p>
      </li>
      <li>
        <h4>Suppliers</h4>
        <p>Bloomline Acoustics' procurement is handled by its subsidiary Bloomline Produktie B.V., Chamber of Commerce 24481391. As a supplier, this is the subsidiary that you are dealing with.</p>
      </li>
      <li>
        <h4>Customers</h4>
        <p>Bloomline Acoustics' sales are handled by Bloomline Verkoop B.V, Chamber of Commerce 24481401. If you purchase products directly from us, it is from this subsidiary.</p>
      </li>
    </ul>
  </section>
  <section>
    <h3>Management team</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Ank de Klerk, owner, CFO</h4>
      </li>
      <li>
        <h4>Anna de Klerk, CEO</h4>
      </li>
      <li>
        <h4>Jorn Mineur, Project Manager</h4>
      </li>
    </ul>
  </section>
  <section>
    <h3>How to contact us</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Call us</h4>
        <p>You can call us Monday through Friday from 9 AM to 5 PM Central European. (Check current time <a target="_blank" href="https://www.google.com/search?q=current+time+in+netherlands">here</a>.)</p>
        <p>Outside the Netherlands call: <a href="tel:+31786736474">+31 78 673 64 74</a></p>
        <p>In the Netherlands call: <a href="tel:+31786736474">078 673 64 74</a></p>
      </li>
      <li>
        <h4>Send us an email</h4>
        <p>We aim to respond to your email in one business day.</p>
        <p>
          <a href="mailto:info@bloomline.com">info@bloomline.com</a>
        </p>
      </li>
      <li>
        <h4>Company address</h4>
        <p>
          Bloomline Acoustics BV
          <br>Dagpauwoog 2
          <br>3295 PG 's-Gravendeel
          <br>Netherlands
        </p>
      </li>
    </ul>
  </section>
</main>