---
title: "A history of Omniwave"
description: "How pianist, composer and producer Leo de Klerk invented Omniwave, the inaudible loudspeaker."
keywords: "History, invention, Omniwave, Leo de Klerk"
author: "Jorn Mineur"
---
<header>
  <h1>A history of Omniwave</h1>
  <h2>In memory of Leo de Klerk</h2>
  <address>
    by <a rel="author" href="/contact">Jorn Mineur</a>, <time pubdate datetime="2021-02-07">February 7, 2021</time>
  </address>
</header>
<main>
  <section class="text">
    <figure class="centered">
      <img src="/images/Leo_de_Klerk.jpg" width="355" height="279">
      <figcaption>Leo de Klerk, inventor of Omniwave</figcaption>
    </figure>
    <p>I believe that Omniwave is one of the most profound inventions in sound reproduction. Omniwave is to stereo what stereo is to mono.</p>
    <p>Omniwave is the life's work of Leo de Klerk, who started his career as a pianist and composer. Later he founded Bloomline Studio and became a recording producer. At the time of his invention, Leo and I were working together as producers in our partnership firm Bloomline Coryphée.</p>
    <p>As we spent long hours in our control room, we got worn out by being glued to the "sweet spot" between our studio monitors. It was only at that particular spot that one could hear the dimensions of the space and the position of the performers in a recording. The tiniest movement of the head would break that perception.</p>
    <p>This was a known issue with all loudspeakers, but Leo had a hunch about a solution. He already knew that only a coherent sound source could widen the sweet spot, and so he started to experiment with coaxial and inverted cone loudspeakers. The early results were convincing enough for me to sacrife my beloved B&amp;W Matrix 805s to these experiments, which shows just how much my curiosity was piqued.</p>
    <p>Over time, Leo acquired new insights into the principles of human hearing, and based on those, he developed new drivers, casings, and cross-over filters. After years of research and experimentation, he invented Omniwave, the first loudspeaker that could accurately reproduce the spatial information of an acoustical recording.</p>
    <p>I vividly remember the shock of hearing Omniwave for the first time. Here was a loudspeaker that projected an entire sound stage around itself, and allowed you to walk around in it. I could literally not believe my ears.</p>
    <p>The road from prototype to patent and manufactured product was a long one. The challenge in patenting Omniwave was that its working principles were way ahead of the state of the art. Human hearing as an object-oriented system, shape related transfer functions, the role of the <i>pinna</i> and tiny head movements in spatial hearing: there was a lot of ground to cover. The same applied to designing drivers that could be manufactured at scale within the narrow tolerances that Omniwave required.</p>
    <p>The investment in time paid off. By the time of Leo's passing away, Omniwave was being used at prominent events and locations like Google I/O, the Netherlands Houses of Parliament, and the Philharmonie in Berlin. Fortunately, he witnessed the breakthrough of his invention.</p>
    <p>Leo was a truly exceptional human being, and his genius cannot be replaced. But Leo's spirit lives on in Omniwave, his great gift to music lovers all over the world.</p>
  </section>
</main>