---
title: "A history of Omniwave"
description: "How pianist, composer and producer Leo de Klerk invented Omniwave, the inaudible loudspeaker."
keywords: "History, invention, Omniwave, Leo de Klerk"
author: "Jorn Mineur"
---
<header>
  <h1>A history of Omniwave</h1>
  <h2>In memory of Leo de Klerk</h2>
  <address>
    by <a rel="author" href="/contact">Jorn Mineur</a>, <time pubdate datetime="2021-02-07">February 7, 2021</time>
  </address>
</header>
<main>
  <section class="text">
    <figure class="centered">
      <img src="/images/Leo_de_Klerk.jpg" width="355" height="279">
      <figcaption>Leo de Klerk, inventor of Omniwave</figcaption>
    </figure>
    <p>I believe that Omniwave is the most profound invention in sound reproduction since stereophony. Other than spatial audio technologies like Dolby Atmos Music, which add processed spatial effects, Omniwave reveals the spatial information in the original recording, creating a truly lifelike immersive experience.</p>
    <p>Omniwave is the life’s work of Leo de Klerk, who started his career as a pianist and composer. Later he became a recording producer and founded Bloomline Studio. At the time of his invention, Leo and I were working together as producers in our partnership firm Bloomline Coryphée.</p>
    <p>The problem that Leo set out to solve initially was “sweet spot fatigue”. While we were spending many long hours editing recordings in our control room, we had to keep our heads fixed in one exact spot between the loudspeakers, the “sweet spot”. This was the only place in which the performers and the acoustics could be heard in some degree of perspective. Moving one’s head even an inch to the left or right would break that perspective. It was an unpleasant way of listening to music.</p>
    <p>Sweet spot fatigue happened with all loudspeakers, so for me, it was just a fact of life. However Leo was not a person to feel intimidated by a seemingly unsolvable problem. He knew intuitively that any solution would require a coherent sound source, so he started to experiment with coaxial and inverted cone loudspeakers. The early results were convincing enough for me to sacrife my beloved B&amp;W Matrix 805s to these experiments, which goes to show just how much my curiosity was piqued.</p>
    <p>In the next few years, Leo ran an endless number of experiments and tests, which eventually led to his invention of Omniwave, the first loudspeaker that accurately reproduces the spatial information of any acoustical recording.</p>
    <p>One day, Leo called me and said “Come over. I think you should hear this.” I came to the studio, and Leo played one of our own recordings. I was shocked, but not because I heard something new. I had heard the same thing before &mdash; at the venue of the actual performance. In addition, I could <i>walk around</i> in the recording and everything stayed in place. There was no sweet spot. I could literally not believe my ears.</p>
    <p>The road from prototype to patent and manufactured product was a long one. The challenge in patenting Omniwave was that its working principles and its underlying model of human hearing were way ahead of prior art. Until this day, some engineers get upset during our demos of Omniwave because “it cannot work”, even when they’ve just heard that it does. Another challenge was the development of drivers and parts that could be manufactured at scale within the narrow tolerances that Omniwave requires.</p>
    <p>The investments paid off. By the time of Leo’s passing, Omniwave was being used at prominent events and locations like Google I/O, the Netherlands Houses of Parliament, and the Philharmonie in Berlin. That Leo saw the breakthrough of his invention is a great consolation to his loved ones and friends.</p>
    <p>Leo was a truly exceptional human being, whose genius cannot be replaced. But his spirit lives on in Omniwave, his great gift to music lovers all over the world.</p>
  </section>
</main>