---
title: "A history of Omniwave"
description: "About the invention of Omniwave and its inventor, Leo de Klerk."
keywords: "History, invention, Omniwave, Leo de Klerk"
---
<header>
  <h1>A history of Omniwave</h1>
  <h2>In memory of Leo de Klerk, its inventor</h2>
  <p>
    <address>
      by <a rel="author" href="/contact">Jorn Mineur</a>, <time pubdate datetime="2021-02-07">February 7, 2020</time>
    </address>
  </p>
</header>
<main>
  <section class="text">
    <p>I believe that Omniwave is one of the great milestones in the history of sound reproduction, more profound than the invention of the electrostatic loudspeaker or multi-channel audio.</p>
    <p>At the time of the invention, Leo de Klerk and I were working together as recording producers in our partnership firm, Bloomline Coryphée.</p>
    <p>We spent long hours in the control and editing rooms, glued to the "sweet spot" between our studio monitors. It was only at that particular spot that one could hear a believable reproduction of what was happening on the stage. Even the tiniest movement of the head created comb filter effects and made the sound image collapse.</p>
    <p>This was a known issue with all loudspeakers. Leo thought that there had to be a solution out there. He already knew about the benefits of inverted cone loudspeakers. He started off by inverting the cones of a set of old Philips MFB 22RH541. Without its tweeter, it didn't reproduce anything above 2.5kHz, but the sweet spot suddenly widened into a "sweet area". Also one got a much more accurate spatial image of the recording.</p>
    <p>It didn't take long for Leo to invert the cones of all the dynamic loudspeakers in our arsenal. I even sacrificed my beloved B&W Matrix 805s to the experiment, which goes to show how much my curiosity was piqued.</p>
    <p>The next step was to put a tweeter inside the woofer. Obviously, the KEF Uni-Q coaxial driver was a prime candidate for the experiment, as all we needed to do was to invert the woofer, then the tweeter inside it. The result was a great improvement, but it wasn't perfect: the comb filter effects were still there.</p>
    <p>Leo experimented with playing back pink noise over a set of inverted Uni-Qs, and tried them at different angles. Then came the lightning bolt. He rotated <em>one</em> of the speakers so that both drivers were perpendicular to each other in a 45-degree angle from the listener. We were astounded: the comb filter effects were gone. What was happening here?</p>
    <p>The next step was to simply turn the configuration upright and see if it would create a vertical phantom image of a monaural source. It did. Even in mono, the sound image seemed to come lose from the loudspeakers, and the sweet spot was gone.</p>
    <p>Naturally, Leo quickly made a stereo pair of this vertical arrangement. The effect was astounding: the loudspeakers seemed to have all but disappeared. The space of any acoustical recording was depicted with uncanny accuracy, and one could freely move around in it. Omniwave was born.</p>
    <p>In the following years, Leo kept working on a theory of Omniwave's working principles, developed dedicated loudspeaker units and casings, and patented the invention, while getting listeners and audiences in Europe and the United States acquainted with true 3-dimensional stereo.</p>
    <p>The <em>coherence</em> of the reproduced sound turned out to be key, and a lot of effort went into developing dedicated drivers, casings, and crossover filters.</p>
    <p>The challenge in patenting Omniwave was that it was several steps ahead of prior art. Its working principle solved a problem that wasn't generally accepted or even fully understood. Human hearing as an object-oriented system, shape related transfer functions, the role of the <i>pinna</i> and tiny head movements in spatial hearing, there was a lot of ground to cover. Writing the Omniwave patent took years of hard work.</p>
    <p>By the time of Leo's passing away, Omniwave was being used at prestiguous events and locations like Google I/O, the Netherlands Houses of Parliament, and the Berliner Philharmonie. Fortunately he has been able to witness the success of his invention.</p>
    <p>Leo was a truly exceptional human being, and his genius cannot be replaced. But Leo's spirit lives on in Omniwave, his great gift to music lovers all over the world.</p>
  </section>
</main>