---
title: "A history of Omniwave"
description: "How pianist, composer and producer Leo de Klerk invented Omniwave, the inaudible loudspeaker."
keywords: "History, invention, Omniwave, Leo de Klerk"
---
<header>
  <h1>A history of Omniwave</h1>
  <h2>In memory of Leo de Klerk</h2>
  <address>
    by <a rel="author" href="/contact">Jorn Mineur</a>, <time pubdate datetime="2021-02-07">February 7, 2021</time>
  </address>
</header>
<main>
  <section class="text">
    <figure class="centered">
      <img src="/images/Leo_de_Klerk.jpg" width="355" height="279">
      <figcaption>Leo de Klerk, inventor of Omniwave</figcaption>
    </figure>
    <p>I believe that Omniwave is among the greatest achievements in the history of sound reproduction, perhaps more profound than the invention of the electrostatic loudspeaker or multi-channel audio.</p>
    <p>Omniwave is the life's work of Leo de Klerk, who started his career as a pianist and composer. Later he founded Bloomline Studio and became a recording producer. At the time of his invention, Leo and I were working together as producers in our partnership firm Bloomline Coryphée.</p>
    <p>As we spent long hours in the control and editing rooms, we got worn out by being glued to the "sweet spot" between our studio monitors. It was only at that particular spot that one could get some sense of the dimensions of the space and the position of the performers. The tiniest movement of the head would disturb that perception.</p>
    <p>Even though this was a known issue with all loudspeakers, Leo thought that there had to be a solution. He already knew that a larger sweet spot would inevitably require a coherent sound source, and so he started to experiment with coaxial and inverted cone loudspeakers. Even the early results were convincing enough for me to sacrife my beloved B&amp;W Matrix 805s to these experiments, which shows just how much my curiosity was piqued!</p>
    <p>Over time, Leo acquired completely new insights into the principles of human hearing, and based on those, he developed new drivers, casings, and cross-over filters. After years of research and experimentation, he invented Omniwave, the first loudspeaker that could accurately reproduce the spatial information of an acoustical recording.</p>
    <p>I vividly remember the shock of hearing Omniwave for the first time. Here was a loudspeaker that projected an entire sound stage around itself, and allowed you to walk around in it. I could literally not believe my ears.</p>
    <p>The road from prototype to patent and manufactured product was a long one. The challenge in patenting Omniwave was that its working principles were way ahead of the state of the art. Human hearing as an object-oriented system, shape related transfer functions, the role of the <i>pinna</i> and tiny head movements in spatial hearing, there was a lot of ground to cover. The same applied to designing drivers that could be manufactured at scale within the narrow tolerances that Omniwave requires.</p>
    <p>The investment in time paid off. By the time of Leo's passing away, Omniwave was being used at prominent events and locations like Google I/O, the Netherlands Houses of Parliament, and the Philharmonie in Berlin. Fortunately, he has been able to witness the breakthrough of his invention.</p>
    <p>Leo was a truly exceptional human being, and his genius cannot be replaced. But Leo's spirit lives on in Omniwave, his great gift to music lovers all over the world.</p>
  </section>
</main>