---
title: "A history of Omniwave"
description: "How pianist, composer and producer Leo de Klerk invented Omniwave, the inaudible loudspeaker."
keywords: "History, invention, Omniwave, Leo de Klerk"
author: "Jorn Mineur"
---
<header>
  <h1>A history of Omniwave</h1>
  <h2>In memory of Leo de Klerk</h2>
  <address>
    by <a rel="author" href="/contact">Jorn Mineur</a>, <time pubdate datetime="2021-02-07">February 7, 2021</time>
  </address>
</header>
<main>
  <section class="text">
    <figure class="centered">
      <img src="/images/Leo_de_Klerk.jpg" width="355" height="279">
      <figcaption>Leo de Klerk, inventor of Omniwave</figcaption>
    </figure>
    
    <p>I believe that Omniwave is the most profound invention in sound reproduction since stereophony. Other than spatial audio technologies like Dolby Atmos Music, which <i>add</i> spatial cues as an effect, Omniwave <i>removes</i> the negative side-effects of traditional loudspeaker playback, allowing listeners to immerse themselves in a truly lifelike performance. It is a fundamental improvement that allows people to enjoy musical performances on a new level.</p>

    <p>Omniwave is the life's work of Leo de Klerk, who started his career as a pianist and composer. Later he became a recording producer and founded Bloomline Studio. At the time of his invention, Leo and I were working together as producers in our partnership firm Bloomline Coryphée.</p>

    <p>The problem that Leo wanted to solve initially was "sweet spot fatigue". We spent many long hours editing recordings in our control room, and it was at only one exact spot between the loudspeakers, the sweet spot, where one could hear the position of the performers and the dimensions of the space more or less correctly. The tiniest movement of the head would break that perception. Being tied to the same spot for ten hours a day was an unpleasant experience.</p>

    <p>The tiny sweet spot was a known issue with all loudspeakers, but it was not in Leo's nature to be intimidated by a seemingly unsolvable problem. He already knew that in order to widen the sweet spot, he needed a coherent sound source, so he started to experiment with coaxial and inverted cone loudspeakers. The early results were convincing enough for me to sacrife my beloved B&amp;W Matrix 805s to these experiments, which goes to show just how much my curiosity was piqued.</p>

    <p>In the next few years, Leo developed ground-breaking new insights into the workings of human hearing, which led to his invention of Omniwave, the first loudspeaker that could accurately reproduce the spatial information of an acoustical recording.</p>

    <p>One day, Leo called me and said "Come over. I think you should hear this." He was right, but in an understated way. I came, Leo played one of our own recordings, and I dropped the coffee mug on the table. It was not that I heard something new. I heard something old. I was taken back in time, back on that stage where we made the recording, and could walk around on it. I could literally not believe my ears.</p>

    <p>What stuck most with me after listening to many recordings through Omniwave, was what its stable, three-dimensional image of performers on a stage did to help explain the music and the performance. It was above all the <i>stability</i> of that picture, the fact that it stayed intact even when one moved around, allowed a powerful perception of <i>depth</i>. As Leo pointed out, depth perception is largely a function of motion parallax. When you move around during a live performance, or even when you just move your head a little bit when seated, the angles from nearby sounds, from performers that are closer to you, change faster than from sounds that come from farther away. All loudspeakers except Omniwave break that perception because the sound seems glued to the speakers, therefore angles from both close and far-away sound sources all change, incorrectly, at the same rate. With Omniwave however, the sound seemingly originates from <i>around and between</i> the loudspeakers, restoring accurate depth perception.</p>

    <p>During our recording sessions, Leo and me always focused on preserving a sense of a natural musical performance, because the location of the performers in an acoustial space tells you a lot about <i>how the music is made</i>. Omniwave is based on the exact same idea. It yields the maximum amount of musical information by revealing all the cues in the recording about <i>place and space</i>.</p>

    <p>The road from prototype to patent and manufactured product was a long one. The challenge in patenting Omniwave was that its working principles and its underlying model of human hearing were several steps ahead of the prior art. Until this day, some engineers get upset during our demos of Omniwave because "it cannot work", even when they just heard that it does. Another challenge was the development of drivers and parts that could be manufactured at scale within the narrow tolerances that Omniwave requires in order to be truly "inaudible".</p>

    <p>The investments paid off. By the time of Leo's passing, Omniwave was being used at prominent events and locations like Google I/O, the Netherlands Houses of Parliament, and the Philharmonie in Berlin. That Leo saw the breakthrough of his invention is a great consolation to his loved ones and friends.</p>
    
    <p>Leo was a truly exceptional human being, and his genius cannot be replaced. But his spirit lives on in Omniwave, a great gift to music lovers all over the world.</p>
  
  </section>
</main>
