---
title: "Omniwave in the media"
description: "Videos, radio shows, and publications featuring Omniwave in English, German and Dutch."
keywords: "Media, videos, radio shows, publications, Omniwave"
---
<header>
  <h1>Omniwave in the media</h1>
</header>
<main>
  <section>
    <h3>Publications</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>English</h4>
        <ul>
          <li><a href="/files/OrfeoDigiCOBloomline.pdf">Digico Orfeo ed Euridice</a></li>
        </ul>
      </li>
      <li>
        <h4>Nederlands</h4>
        <ul>
          <li><a href="/files/De_Gashouder_getemd.pdf" hreflang="nl">VPT De Gashouder getemd</a></li>
          <li><a href="/files/HVT_artikel_OmniWave_.pdf" hreflang="nl">Luidsprekers met een 'ongehoord' geluid</a></li>
          <li><a href="https://www.hifi.nl/artikel/27345/Bloomline-Omniwave-wonen-met-muziek.html" hreflang="nl">Hifi.nl Wonen met muziek</a></li>
          <li><a href="https://www.opusklassiek.nl/audio/audio-as/omniwave.htm">Opus Klassiek Een muzikaal equilibrium</a></li>
        </ul>
      </li>
      <li>
        <h4>Deutsch</h4>
        <ul>
          <li><a href="/files/BTR_5_15_Ruhrtriennale-4.pdf" hreflang="de">BTR ‘Der Ganze Raum klingt’</a></li>
        </ul>
      </li>
    </ul>
  </section>
  <section>
    <h3>Videos</h3>
    <div class="videos">
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/WvM-SxrMv6s" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/5ksg3ET8t7I" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/B9dZ4Ssd67w" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/XsNBY5jvovs" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/ws9QJAW3xTk" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://embeds.audioboom.com/boos/3467731-philippe-herreweghe-over-accattone/embed/v4?eid=AQAAADTCe1fT6TQA" title="audioBoom player"></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/AOBINs1IlZQ" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/ffOdkbOD2Pc" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/WEl9vslCmG" allowfullscreen></iframe>
      <iframe loading="lazy" src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2FBloomline.Acoustics%2Fvideos%2F896768200459366%2F&#038;show_text=0&#038;width=560" width="560" height="315" allowFullScreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/cq5H8naUdUc" allowfullscreen></iframe>
      <iframe loading="lazy" width="560" height="315" src="https://www.youtube.com/embed/MOaH2Q8llFs" allowfullscreen></iframe>
      <iframe loading="lazy" width="420" height="315" src="https://www.youtube.com/embed/Vt0lu1ADI8M" allowfullscreen></iframe>
    </div>
  </section>
</main>