---
title: "Bloomline Acoustics: inventors of the OmniWave"
description: "Inventors of the Omniwave virtual loudspeaker, also known as the loudspeaker that you can't hear."
keywords: "Bloomline Acoustics, Omniwave, virtual loudspeaker, inaudible loudspeaker, vertical phantom image, continuous phantom image"
---
<header>
  <img class="header-logo" src="/images/logos/omniwave-logo.png" alt="OmniWave" height="193" width="715">
  <h2 class="header-home">The inaudible loudspeaker.</h2>
  <img class="header-hero" src="/images/heros/omniblue.jpg" height="500" width="1700" />
</header>
<main>
  <section class="quotes quotes-home">
    <div>
        <q>The loudspeaker that you can't hear</q>
        <cite>Stan Tempelaars, Institute of Sonology</cite>
    </div>
    <div>
        <q>It’s unlike any other amplified sound you’ve heard, but very much like the unamplified ones</q>
        <cite>Stephen Dydo, composer</cite>
    </div>
    <div>
        <q lang="de">Es klappt</q>
        <cite>Jürg Jecklin, Tonmeister</cite>
    </div>
  </section>
  <section class="brands">
    <img loading="lazy" src="/images/logos/Dutch_National_Opera_and_Ballet.svg" width="171" height="81" alt="Dutch National Opera and Ballet logo">
    <img loading="lazy" src="/images/logos/chanel.svg" width="239" height="39" alt="Chanel logo">
    <img loading="lazy" src="/images/logos/Google_IO.svg" width="190" height="44" alt="Google I/O logo">
    <img loading="lazy" src="/images/logos/Berliner_Philharmoniker.svg" width="594" height="321" alt="Berliner Philharmoniker logo">
    <img loading="lazy" src="/images/logos/rijksmuseum.svg" width="567" height="68" alt="Rijksmuseum logo">
    <img loading="lazy" src="/images/logos/rpho-logo.svg" width="1015" height="246" alt="Rotterdam Philharmonic logo">
    <img loading="lazy" src="/images/logos/Kroeller-Mueller.svg" width="200" height="248" alt="Kröller Müller Museum logo">
    <img loading="lazy" src="/images/logos/tweede-kamer-sg.svg" width="258" height="77" alt="Netherlands parliament logo">
  </section>
  <section class="text">
    <h3>What is Omniwave?</h3>
    <p>Omniwave is a solid and stable vertical phantom source that you can move around in.</p>
    <p>Made from unobtrusive ОmniDrive 360 degrees radiators, it is a building stone for 3D audio without a ‘sweet spot’ that enables a free scalable listening area without limiting sight lines.</p>
    <p>When listening to an acoustical recording on loudspeakers, one is all too aware that it is not real. That is because our ear is capable of identifying sound sources by their acoustic signature. Even small head movements betray the loudspeaker as the sound source.</p>
    <p>A dreamed solution would be a loudspeaker that draws less attention to itself than to the sound that it reproduces. It should be acoustically transparent, without adding or removing information, while preserving sound stability all over the room. Omniwave, a revolutionary virtual speaker, is the first sound imaging device in the world to achieve this.</p>
  </section>

  <%= partial :more_about_models %>

</main>