---
title: "Bloomline Acoustics: inventors of the OmniWave"
description: "Inventors of the 'inaudible' Omniwave virtual loudspeaker."
keywords: "Bloomline Acoustics, Omniwave, virtual loudspeaker, inaudible loudspeaker, vertical phantom image, continuous phantom image"
---
<header>
  <img class="header-logo" src="/images/logos/omniwave-logo.png" alt="OmniWave" height="193" width="715">
  <h2 class="header-home">The inaudible loudspeaker.</h2>
  <img class="header-hero" src="/images/heros/omniblue.jpg" height="500" width="1700" />
</header>
<main>
  <section class="quotes quotes-home">
    <div>
      <p>
        <q>The loudspeaker that you can't hear</q>
        <span class="quotes-home-author">Stan Tempelaars, Institute of Sonology</span>
      </p>
    </div>
    <div>
      <p>
        <q>It’s unlike any other amplified sound you’ve heard, but very much like the unamplified ones</q>
        <span class="quotes-home-author">Stephen Dydo, composer</span>
      </p>
    </div>
    <div>
      <p>
        <q lang="de">Es klappt</q>
        <span class="quotes-home-author">Jürg Jecklin, Tonmeister</span>
      </p>
    </div>
  </section>
  <section class="text">
    <h3>What is Omniwave?</h3>
    <p>Omniwave is a solid and stable vertical phantom source that you can walk around in.</p>
    <p>Made from unobtrusive ОmniDrive 360 degrees radiators, a building stone for 3D audio without a ‘sweet spot’ that enables a free scalable listening area without limiting sight lines.</p>
    <p>Enjoying natural sound through loudspeakers, you are all too aware that it’s reproduced. That’s because our ear is capable of identifying sound objects by their acoustic signature. Just small head movements will reveal that you’re connected exclusively to the loudspeaker’s acoustic signature, proving you are not listening the real thing.</p>
    <p>A dreamed solution would be a loudspeaker that draws less attention to itself than to the sound it represents. It should be acoustically transparent, without adding or removing information while preserving sound stability all over the room. OmniWave, a revolutionary virtual speaker, is the first sound imaging device in the world to achieve this.</p>
  </section>

<%= partial :more_about_models %>

</main>