---
title: "Omnidrive C | Bloomline Acoustics"
description:
keywords:
---
<header>
  <h1>Omnidrive C</h1>
  <h2>3D stereo in your living room</h2>
  <img class="header-hero" src="/images/heros/omnidrive-c.jpg" width="1544" height="689">
</header>
<main>
  <section class="quotes quotes-home">
    <div>
        <q>The inaudible loudspeaker that sounds marvellous</q>
        <cite>De Volkskrant</cite>
    </div>
    <div>
        <q>An unbelievable sense of being present at the performance.</q>
        <cite>Hans Vaatstra, HVT Magazine</cite>
    </div>
    <div>
        <q>Don't miss the opportunity to listen to Omniwave. It is a unique experience.</q>
        <cite>HiFi.nl</cite>
    </div>
  </section>
  <section class="text">
  	<h3>Suggested retail prices, 2022</h3>
  	<table>
       <thead>
        <tr>
          <th></th>
          <th class="number">EU<br>incl. VAT</th>
          <th class="number">USA<br>excl. sales tax</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>OmniDrive C Mk II stereo set, in textured coating, with RAL color of choice</th>
          <td class="number">€ 9,540</td>
          <td class="number">US$ 9,900</td>
        </tr>
        <tr>
          <th>Optional: upgrade to high gloss coating in RAL color of choice</th>
          <td class="number">€ 300</td>
          <td class="number">US$ 330</td>
        </tr>
        <tr>
          <th>Optional: protection brace, in grey textured coating, per piece</th>
          <td class="number">€ 180</td>
          <td class="number">US$ 198</td>
        </tr>
        <tr>
          <th>Optional: suspension eye, stainless steel, per piece</th>
          <td class="number">€ 90</td>
          <td class="number">US$ 115</td>
        </tr>
        <tr>
          <th>Optional: wall mount, aluminum, incl. brass spigot, per piece</th>
          <td class="number">€ 210</td>
          <td class="number">US$ 228</td>
        </tr>
        <tr>
          <th>Optional: stand for 2 Omnidrives, textured coating, internally cabled, per set of 2</th>
          <td class="number">€ 1,675</td>
          <td class="number">US$ 2,160</td>
        </tr>
      </tbody>
  	</table>
  </section>

</main>
