---
title: "Omnidrive Pro | Bloomline Acoustics"
description: "Omniwave for professional applications in virtual reality, live and installed sound."
keywords: "Omnidrive, Omnidrive Pro, Omniwave, quotes, specifications"
---
<header>
  <h1>Omnidrive Pro</h1>
  <h2>Immerse the entire audience in 3D stereo</h2>
  <img class="header-hero" src="/images/heros/4Dsound-RPhO.jpg" width="2232" height="1427" />
</header>
<main>
  <section class="quotes quotes-home">
    <div>
      <q>I never heard Varèse in such detail</q>
      <cite>Péter Eötvös, conductor</cite>
    </div>
    <div>
      <q>The Omniwave system sounds brilliant! There is a great intelligibility for all seats in the auditory. The complete artistic team is convinced</q>
      <cite>Wolfram Schild, Münchner Kammerspiele, Tonmeister</cite>
    </div>
    <div>
      <q>Weniger Technik, mehr Kunst</q>
      <cite>Antje Grajetzky, Bühnentechnische Rundschau</cite>
    </div>
  </section>
  <section class="text">
    <h3>Technical specifications Omnidrive Pro Mk II</h3>
    <h4>System:</h4>
    <ul>
      <li>topology: Coaxial Convex driver array on a closed volume of 2,2L</li>
      <li>system tuning: Fb = 95Hz, Qtc = 0,72</li>
      <li>frequency response: 90-16,000Hz -3dB/+1dB @reference angle</li>
      <li>frequency range: -10dB @60Hz and @24kHz @reference angle</li>
      <li>reference angle: 70 degrees off the rotation axis</li>
      <li>directivity (±3dB): 360 x 90 degrees (90-12,000Hz) in the plane of the reference angle</li>
      <li>sensitivity of a single OmniDrive: 80dB/2,83V @1m</li>
      <li>sensitivity of two Omnidrives combined in the Omniwave phantom speaker array: 83dB/2,83V @1m</li>
      <li>power handling: 100W average, 200W peak (IEC 268-5)</li>
    </ul>
    <h4>Electrical data:</h4>
    <ul>
      <li>Nominal impedance [Zn] = 8Ω</li>
      <li>DC resistance [Re] = 6,2Ω</li>
      <li>Maximum impedance [Zo]: 14Ω @100Hz</li>
      <li>Minimum impedance [Zmin] : 5Ω @10K</li>
    </ul>
    <h4>Woofer:</h4>
    <ul>
      <li>nominal size: 5,25”</li>
      <li>voice coil former: black anodised titanium</li>
      <li>voice coil: 39mm, 8Ω, 2-layer CCA wire, 18 mm winding height</li>
      <li>Xlin: 12mm (p-p)</li>
      <li>Xmax: 22mm (p-p)</li>
      <li>cone: curved black anodised aluminium</li>
      <li>magnet system: neodymium with copper ring, Force Factor, BL=6,8</li>
      <li>top plate height: 7mm</li>
      <li>spider: Nomex with centering ring</li>
      <li>surround: low loss SBR, 50 shore</li>
      <li>frame: die cast, gray Nextel coating</li>
    </ul>
    <h4>Tweeter:</h4>
    <ul>
      <li>nominal size: 0,75”</li>
      <li>voice coil former: aluminium, diameter 19mm</li>
      <li>magnet system: neodymium</li>
      <li>diaphragm: impregnated textile, airtight</li>
      <li>damping: ferrofluid</li>
      <li>cooling: ferrofluid, thermoplastic frame, aluminium heat sink</li>
      <li>overload protection: High Positive Current Coeffcient Resistor (HPCCR)</li>
      <li>protection grille: black zinc passivated magnetic steel</li>
      <li>Quick Lock mounting: 6,3mm 3-pole locking plug with 7/16-20 UNF-2B handle</li>
    </ul>
    <h4>Crossover:</h4>
    <ul>
      <li>Acoustically Linear Phase @reference angle and above, 2nd order @ 2,5 kHz</li>
    </ul>
    <h4>Weather resistance:</h4>
    <ul>
      <li>IP class: IP-62</li>
      <li>driver protection bracket: matte black powder coated steel</li>
    </ul>
    <h4>Rigging facilities:</h4>
    <ul>
      <li>back: stainless steel eye bolt, ID=15mm</li>
      <li>side: 3/8" female thread connector</li>
    </ul>
    <h4>Dimensions:</h4>
    <ul>
      <li>length including eye bolt and protection bracket: 33cm</li>
      <li>diameter: 146mm</li>
      <li>weight: 3,9kg</li>
    </ul>
    <h4>Durability:</h4>
    <ul>
      <li>all parts 99% recycable</li>
    </ul>
  </section>
</main>