---
title: "Omnidrive Pro"
description:
keywords:
---
<header>
	<h1>Omnidrive Pro</h1>
	<h2 class="header-home">True stereo for the audience</h2>
	<img class="header-hero" src="/images/heros/4Dsound-RPhO.jpg" width="1152" height="534" />
</header>

<main>
	<section class="quotes quotes-home">
		<div>
			<q>I never heard Varèse in such detail</q>
			<br>Péter Eötvös, conductor
		</div>

		<div>
		<q>The OmniWave system sounds brilliant! There is a great intelligibility for all seats in the auditory. The complete artistic team is convinced</q>
		<br>Wolfram Schild, Muenchner Kammerspiele, Tonmeister
		</div>
		<div>
			<q>Weniger Technik, mehr Kunst</q>
			<br>Antje Grajetzky, Bühnentechnische Rundschau
		</div>
	</section>
	<section class="text">
			
	</section>
</main>
