---
title: "Omnidrive C"
description:
keywords:
---
<header>
	<h1>Omnidrive C</h1>
</header>

<main>

  <section class="quotes quotes-home">
    <div>
      <p>
        <q>The inaudible loudspeaker that sounds marvellous</q>
        <br>De Volkskrant
      </p>
    </div>
    <div>
      <p>
        <q>An unheard of degree of sense of being present at the performance.</q>
        <br>Hans Vaatstra, HVT Magazine
      </p>
    </div>
    <div>
      <p>
        <q>Don't miss the opportunity to listen to Omniwave. It is a unique experience.</q>
        <br>HiFi.nl
      </p>
    </div>
  </section>


<%= partial :where_to_buy_consumer %>	

</main>