---
title: "Omnidrive C | Bloomline Acoustics"
description:
keywords:
---
<header>
  <h1>Omnidrive C</h1>
  <h2>3D stereo in your living room</h2>
  <img class="header-hero" src="/images/heros/omnidrive-c.jpg" width="1544" height="689">
</header>
<main>
  <section class="quotes quotes-home">
    <div>
        <q>The inaudible loudspeaker that sounds marvellous</q>
        <cite>De Volkskrant</cite>
    </div>
    <div>
        <q>An unbelievable sense of being present at the performance.</q>
        <cite>Hans Vaatstra, HVT Magazine</cite>
    </div>
    <div>
        <q>Don't miss the opportunity to listen to Omniwave. It is a unique experience.</q>
        <cite>HiFi.nl</cite>
    </div>
  </section>
</main>
