---
title: "Partners of Bloomline Acoustics"
description: "Where to rent or buy Omniwave for home or professional applications."
keywords: "Partners, resellers, buy, rent, rental, Omniwave, Omnidrive, Omnidrive C, Omnidrive Pro, Phantom II"
---
<header>
  <h1>Our Partners</h1>
  <h2>Where to get Omniwave. Home or Pro audio, rent or buy.</h2>
</header>
<main>
  <section class="text text-wide">
    <h3>Hi-Fi &amp; Home cinema</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Belgium</h4>
        <h5>Hifi Corner</h5>
        Willy Van De Velde
        <br>Paalstraat 128
        <br>2900 Schoten (B)
        <br>T +32(0)3 658 3470
        <br><a href="mailto:vandevelde@hificorner.be">vandevelde@hificorner.be</a>
        <br><a href="htttps://www.hificorner.be">www.hificorner.be</a>
      </li>
      <li>
        <h4>Netherlands</h4>
        <h5>Echo Audio Terneuzen</h5>
        Oude Zeedijk 31
        <br>4571 PP Axel
        <br>T 0114-651 000
        <br><a href="mailto:info@echoaudioterneuzen.nl">info@echoaudioterneuzen.nl</a>
        <br><a href="https://www.echoaudioterneuzen.nl/">www.echoaudioterneuzen.nl/</a>
      </li>
      <li>
        <h4>Panama</h4>
        <h5>Dr Audio</h5>
        T 507 6490-9333
        <br><a href="https://www.doctoraudiopanama.com">www.doctoraudiopanama.com</a>
      </li>
    </ul>
  </section>
  <section text text-wide>
    <ul class="columns columns-3columns">
      <li>
        <h3>Spatial Audio</h3>
        <h5>4DSOUND</h5>
        Contactweg 47
        <br>1014 AN Amsterdam
        <br>Netherlands
        <br><a href="mailto:info@4dsound.net">info@4dsound.net</a>
        <br><a href="https://www.4dsound.net">www.4dsound.net</a>
      </li>
      <li>
        <h3>Live Audio</h3>
        <h5>WG theatertechniek</h5>
        Hekendorpstraat 60
        <br>3079DX Rotterdam
        <br>T +31 (0)10 4796672
        <br>F +31 (0)10 4796673
        <br><a href="mailto:info@wgtheatertechniek.nl">info@wgtheatertechniek.nl</a>
        <br><a href="https://www.wgtheatertechniek.nl">www.wgtheatertechniek.nl</a>
      </li>
    </ul>
  </section>
  <section class="text text-wide">
    <h3>Installed sound</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Netherlands</h4>
        <h5>dB audiovisueel</h5>
        Industrieterrein Eemspoort
        <br>Kattegat 14
        <br>9723 JP Groningen
        <br>T +31 (0)50 525 7777
        <br>F +31 (0)50 525 9888
        <br><a href="mailto:info@dbaudiovisueel.nl">info@dbaudiovisueel.nl</a>
        <br><a href="https://www.dbaudiovisueel.nl">www.dbaudiovisueel.nl</a>
      </li>
      <li>
        <h5>Decilux AV</h5>
        Vosboerweg 20
        <br>7556 BS Hengelo
        <br>T +31 (0)74-2426092
        <br><a href="mailto:sales@decilux.nl">sales@decilux.nl</a>
        <br><a href="https://www.decilux.nl">www.decilux.nl</a>
      </li>
      <li>
        <h5>Echo Audio Terneuzen</h5>
        Oude Zeedijk 31
        <br>4571 PP Axel
        <br>T 0114-651 000
        <br><a href="mailto:info@echoaudioterneuzen.nl">info@echoaudioterneuzen.nl</a>
        <br><a href="https://www.echoaudioterneuzen.nl/">www.echoaudioterneuzen.nl</a>
      </li>
      <li>
        <h5>Frontline Audio & Vision</h5>
        Buys Ballotstraat 15d
        <br>7131 PN Lichtenvoorde
        <br>T +31 (0)544 482 800
        <br>F +31 (0)544- 482 875
        <br><a href="mailto:info@frontline-audio.nl">info@frontline-audio.nl</a>
        <br><a href="https://www.frontline-audio.nl">www.frontline-audio.nl</a>
      </li>
      <li>
        <h5>Schaapsound</h5>
        Kaartenmakerstraat 18
        <br>2984 CB Ridderkerk
        <br>Botterweg 12 K
        <br>8042 PA Zwolle
        <br>Tel: 085-0663333
        <br><a href="mailto:info@schaapsound.nl">info@schaapsound.nl</a>
        <br><a href="https://www.schaapsound.nl">www.schaapsound.nl</a>
      </li>
      <li>
        <h5>StreamAV</h5>
        Lelystraat 93
        <br>3364 AH Sliedrecht
        <br>T +31 (0)184-700224
        <br><a href="mailto:info@streamav.nl">info@streamav.nl</a>
        <br><a href="https://streamav.nl">streamav.nl</a>
      </li>
      <li>
        <h5>WG theatertechniek</h5>
        Hekendorpstraat 60
        <br>3079 DX Rotterdam
        <br>T +31 (0)10 4796672
        <br>F +31 (0)10 4796673
        <br><a href="mailto:info@wgtheatertechniek.nl">info@wgtheatertechniek.nl</a>
        <br><a href="https://www.wgtheatertechniek.nl">www.wgtheatertechniek.nl</a>
      </li>
    </ul>
  </section>
  <section class="text text-wide">
    <h3>Rental</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Netherlands</h4>
        <h5>Ampco Flashlight Rental</h5>
        Proostwetering 50
        <br>3543 AH Utrecht
        <br>T +31 (0)30-242 8842
        <br>F +31 (0)30 242 8892
        <br><a href="mailto:info@ampco-flashlight.nl">info@ampco-flashlight.nl</a>
        <br><a href="https://www.ampco-flashlight.com">www.ampco-flashlight.com</a>
      </li>
      <li>
        <h5>Bazelmans AV</h5>
        De Run 4537
        <br>5503 LT Veldhoven
        <br>T 040 25 44 222
        <br><a href="mailto:veldhoven@bazelmans.com">veldhoven@bazelmans.com</a>
        <br>Kuiperij 3
        <br>1185 XS Amstelveen
        <br>T 020 44 15 060
        <br><a href="mailto:amstelveen@bazelmans.com">amstelveen@bazelmans.com</a>
        <br><a href="https://www.bazelmans.com/">www.bazelmans.com</a>
      </li>
      <li>
        <h5>Da Capo Orchestral Audio</h5>
        Zonnebaan 42
        <br>3542 EG Utrecht
        <br>T +31 (0)654 682 181
        <br><a href="mailto:mail@da-capo.com">mail@da-capo.com</a>
        <br><a href="http://www.da-capo.com">www.da-capo.com</a>
      </li>
      <li>
        <h5>Decilux AV</h5>
        Vosboerweg 20
        <br>7556 BS Hengelo
        <br>T +31 (0)74-2426092
        <br><a href="mailto:rent@decilux.nl">rent@decilux.nl</a>
        <br><a href="https://www.decilux.nl">www.decilux.nl</a>
      </li>
      <li>
        <h5>Just Sounds</h5>
        Lange Muiderweg 18a
        <br>1382 LA Weesp
        <br>+31 (0)642 169 510
        <br><a href="mailto:info@just-sounds.nl">info@just-sounds.nl</a>
        <br><a href="https://www.just-sounds.nl">www.just-sounds.nl</a>
      </li>
      <li>
        <h5>Peak Audio</h5>
        Westhavenweg 117
        <br>1042 BB Amsterdam
        <br>T +31 (0)20 614 52 07
        <br>F +31 (0)20 611 28 14
        <br><a href="mailto:info@peakaudio.nl">info@peakaudio.nl</a>
        <br><a href="https://www.peakaudio.nl">www.peakaudio.nl</a>
      </li>
      <li>
        <h5>Rentall</h5>
        Nijverheidsstraat 75
        <br>6681 LN Bemmel
        <br>T +31 (0)26 325 53 92
        <br><a href="mailto:office@rentall.eu">office@rentall.eu</a>
        <br><a href="https://www.rentall.eu">www.rentall.eu</a>
      </li>
      <li>
        <h5>WG theatertechniek</h5>
        Hekendorpstraat 60
        <br>3079 DX Rotterdam
        <br>T +31 (0)10 4796672
        <br>F +31 (0)10 4796673
        <br><a href="mailto:info@wgtheatertechniek.nl">info@wgtheatertechniek.nl</a>
        <br><a href="https://www.wgtheatertechniek.nl">www.wgtheatertechniek.nl</a>
    </ul>
  </section>
</main>
