---
title: "Partners of Bloomline Acoustics"
description: "Where to rent or buy Omniwave for home or professional applications."
keywords: "Partners, resellers, rental, Omnidrive, Omnidrive C, Omnidrive Pro, Phantom II, Omniwave"
---
<header>
  <h1>Our Partners</h1>
  <h2>Where to get Omniwave. Home or Pro audio, rent or buy.</h2>
</header>
<main>
  <section class="text text-wide">
    <h3>Hi-Fi &amp; Home cinema</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Belgium</h4>
        <h5>Hifi Corner</h5>
        Willy Van De Velde
        <br>Paalstraat 128
        <br>2900 Schoten (B)
        <br>T +32(0)3 658 3470
        <br>vandevelde@hificorner.be
        <br>www.hificorner.be
      </li>
      <li>
        <h4>Germany</h4>
        <h5>strey.one</h5>
        Horst Jörg Strey
        <br>Wrachtrupstraße 51
        <br>33699 Bielefeld (D)
        <br>T +49(0) 5202 998 88 50
        <br>horstjoerg@strey.one
        <br>www.strey.one
      </li>
      <li>
        <h4>Netherlands</h4>
        <h5>AudioLife</h5>
        Hulsterstraat 26a
        <br>4116 EZ Buren
        <br>T (+31) 06-24380328
        <br>M (+31) 0344-570777
        <br>info@audio-life.nl
        <br>www.audio-life.nl
      </li>
      <li>
        <h5>Geluid & Beeld NU!</h5>
        Oude Zeedijk 31
        <br>4571 PP Axel
        <br>T 0114 651 000
        <br>info@geluidenbeeld.nu
        <br>http://www.geluidenbeeld.nu
      </li>
      <li>
        <h4>Panama</h4>
        <h5>Dr Audio</h5>
        T 507 6490-9333
        <br>www.doctoraudiopanama.com
      </li>
    </ul>
  </section>
  <section text text-wide>
    <ul class="columns columns-3columns">
      <li>
        <h3>Virtual Reality</h3>
        <h5>4DSOUND</h5>
        Spatial Sound Institute
        <br>Nagytétényi út 48-50
        <br>1222 Budapest
        <br>Hungary
        <br>www.4dsound.net
      </li>
      <li>
        <h3>Live Audio</h3>
        <h5>WG theatertechniek</h5>
        Hekendorpstraat 60
        <br>3079DX Rotterdam
        <br>T +31 (0)10 4796672
        <br>F +31 (0)10 4796673
        <br>info@wgtheatertechniek.nl
        <br>www.wgtheatertechniek.nl
      </li>
    </ul>
  </section>
  <section class="text text-wide">
    <h3>Installed sound</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Germany</h4>
        <h5>strey.one</h5>
        Horst Jörg Strey
        <br>Wrachtrupstraße 51
        <br>33699 Bielefeld (D)
        <br>T +49(0) 5202 998 88 50
        <br>horstjoerg@strey.one
        <br>www.strey.one
      </li>
      <li>
        <h4>Netherlands</h4>
        <h5>dB audiovisueel</h5>
        Kattegat 14
        <br>9723 JP Groningen (industrieterrein Eemspoort)
        <br>T +31 (0)50 525 7777
        <br>F +31 (0)50 525 9888
        <br>info@dbaudiovisueel.nl
        <br>www.dbaudiovisueel.nl/
      </li>
      <li>
        <h5>Decilux AV</h5>
        Vosboerweg 20
        <br>7556 BS Hengelo
        <br>T +31 (0)74-2426092
        <br>sales@decilux.nl
        <br>www.decilux.nl
      </li>
      <li>
        <h5>Frontline Audio & Vision</h5>
        Buys Ballotstraat 15d
        <br>7131 PN Lichtenvoorde
        <br>T +31 (0)544 482 800
        <br>F +31 (0)544- 482 875
        <br>info@frontline-audio.nl
        <br>www.frontline-audio.nl
      </li>
      <li>
        <h5>Geluid & Beeld NU!</h5>
        Oude Zeedijk 31
        <br>4571 PP Axel
        <br>T +31 (0)114 651 000
        <br>info@geluidenbeeld.nu
        <br>www.geluidenbeeld.nu
      </li>
      <li>
        <h5>WG theatertechniek</h5>
        Hekendorpstraat 60
        <br>3079DX Rotterdam
        <br>T +31 (0)10 4796672
        <br>F +31 (0)10 4796673
        <br>info@wgtheatertechniek.nl
        <br>www.wgtheatertechniek.nl
      </li>
      <li>
        <h5>Schaapsound</h5>
        Baileystraat 2a
        <br>8013 RV Zwolle
        <br>T +31 (0)85 066 33 33
        <br>info@schaapsound.nl
        <br>www.schaapsound.nl
      </li>
    </ul>
  </section>
  <section class="text text-wide">
    <h3>Rental</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Netherlands</h4>
        <h5>Ampco Flashlight Rental</h5>
        Proostwetering 50
        <br>3543 AH Utrecht
        <br>T +31 (0)30-242 8842
        <br>F +31 (0)30 242 8892
        <br>info@ampco-flashlight.nl
        <br>www.ampco-flashlight.com
      </li>
      <li>
        <h5>Da Capo Orchestral Audio</h5>
        Keurmeesterstraat 2
        <br>1187 ZX Amstelveen
        <br>T +31 (0)20 244 5162
        <br>mail@da-capo.com
        <br>www.da-capo-com
      </li>
      <li>
        <h5>Decilux AV</h5>
        Vosboerweg 20
        <br>7556 BS Hengelo
        <br>T +31 (0)74-2426092
        <br>rent@decilux.nl
        <br>www.decilux.nl
      </li>
      <li>
        <h5>Just Sounds</h5>
        Lange Muiderweg 18a
        <br>1382 LA Weesp
        <br>+31 (0)642 169 510
        <br>info@just-sounds.nl
        <br>www.just-sounds.nl
      </li>
      <li>
        <h5>Peak Audio</h5>
        Westhavenweg 117
        <br>1042 BB Amsterdam
        <br>T +31 (0)20 614 52 07
        <br>F +31 (0)20 611 28 14
        <br>info@peakaudio.nl
        <br>www.peakaudio.nl
      </li>
      <li>
        <h5>Rentall</h5>
        Nijverheidsstraat 75
        <br>6681 LN Bemmel
        <br>T +31 (0)26 325 53 92
        <br>office@rentall.eu
        <br>www.rentall.eu
      </li>
      <li>
        <h5>WG theatertechniek</h5>
        Hekendorpstraat 60
        <br>3079DX Rotterdam
        <br>T +31 (0)10 4796672
        <br>F +31 (0)10 4796673
        <br>info@wgtheatertechniek.nl
        <br>www.wgtheatertechniek.nl
    </ul>
  </section>
</main>