---
title: "The Phantom II | Bloomline Acoustics"
description: "The ultimate stereo and home theater experience for the living room."
keywords: "Phantom II, Omniwave, prices, delivery terms"
---
<header>
  <h1>The Phantom II</h1>
  <h2>Turn your living room into a stage</h2>
  <img class="header-hero" src="/images/heros/phantom-ii.jpg" width="1772" height="1029" />
</header>
<main>
  <section class="text">
    <h3>Suggested retail prices (2021)</h3>
    <table>
      <thead>
        <tr>
          <th></th>
          <th class="number">EU<br>incl. VAT</th>
          <th class="number">USA<br>excl. sales tax</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th>Phantom II stereo set, in textured lacquer with RAL color of choice, including wall mounts</th>
          <td class="number">€ 17,500</td>
          <td class="number">US$ 18,000</td>
        </tr>
        <tr>
          <th>Optional: upgrade to high gloss coating in RAL color of choice</th>
          <td class="number">€ 1,500</td>
          <td class="number">US$ 1,600</td>
        </tr>
        <tr>
          <th>Optional: Phantom II floor stand, per set of two</th>
          <td class="number">€ 1,990</td>
          <td class="number">US$ 2,000</td>
        </tr>
      </tbody>
    </table>
    <p>Your Phantom IIs are custom-made in the Netherlands. Delivery term is 10-12 weeks.</p>
    <p>Your Phantom IIs work perfectly together with <a href="https://lyngdorf.steinwaylyngdorf.com/">Lyngdorf Audio</a> amplifiers and <a href="https://www.grimmaudio.com/hifi-products/loudspeakers/ls1s-dmf/">Grimm Audio</a> subwoofers. Lyngdorf's <a href="https://lyngdorf.steinwaylyngdorf.com/roomperfect/">RoomPerfect technology</a> is a natural ally of the Omniwave system. Our dealers can help you achieve the optimal configuration.</p>
  </section>
  <%= partial :where_to_buy_consumer %> 

  <%= partial :more_about_models %>
</main>