---
title: "The technology behind Omniwave | Bloomline Acoustics"
description: "The Omniwave virtual sound source is achieved by two coherent omnidirectional sound sources placed vertically under a 90-degree angle."
keywords: "Omniwave, technology, continuous phantom imaging, spatial sound formats, improved sound stability."
author: "Leo de Klerk"
---
<header>
  <h1>A virtual phantom source</h1>
  <h2>The technology behind Omniwave</h2>
  <img class="header-hero" src="/images/heros/anechoic-chamber.jpg" width="1152" height="338" />
</header>
<main>
  <section class="text">
    <h3>Omniwave Documentation</h3>
    <ul class="columns columns-3columns">
      <li>
        <h4>Patents</h4>
        <ul>
          <li><a href="/files/EP1862033A2.pdf">European patent</a></li>
          <li><a href="/files/US8050432.pdf">US patent</a></li>
        </ul>
      </li>
      <li>
        <h4>Research papers</h4>
        <ul>
          <li>
            <a href="/files/JAES_V64_PREQUEL_BeerendsEtAl_LowRes.pdf">Quantifying Sound Quality in Loudspeaker Reproduction</a>
          </li>
        </ul>
      </li>
    </ul>
  </section>
  <section class="text">
    <h3>Omniwave design objectives</h3>
    <p>OmniWave is based on applied electroacoustics and natural auditory processing. Conventional stereophony produces a discrete phantom sound image that pins the listener to a ‘sweet spot’. The OmniWave virtual speaker provides sound stability at any position of the listener. OmniWave is a building stone for Continuous Phantom Imaging, the means for the creation of a free scalable ‘sweet room’ without limited sightlines. The technology provides innovative solutions in the fields of Theatre Sound, Concert Audio, Installed Sound, Studio Monitoring, Home Theatre, HiFi and Musical Instrument Amplification. OmniWave is backwards compatible with all spatial sound formats, from common Stereo to Wave Field Synthesis, Dolby Atmos and Auro3D amongst others.</p>
    <p>The Omniwave design objective is an under-sampled line array for improved sound stability and optimal multi- sensory integration in audio-visual applications.</p>
  </section>
  <section class="text">
    <h3>How Omniwave works</h3>
    <p>OmniWave is a both monaurally and binaurally stable summing location that is derived from the combined signals of two or more OmniDrives.</p>
    <p>The OmniDrive is an omnidirectional loudspeaker that radiates coherent sound in a torodial pattern.</p>
    <p>It needs at least two OmniDrive speakers, spaced out either in parallel or perpendicularly to the median plane of a listener, to realize an OmniWave virtual sound source.</p>
    <p>The OmniWave virtual sound source may appear as a virtual point source or a virtual line source accordingly.</p>
    <p>The constituent OmniDrives are mutually angled over 90 degrees. They are listened off-axis and at 45 degrees preferably.</p>
    <p>Their combined wavefronts, each being direction dependently modified by reflections on the outer ear, sum to a HRTF-neutral plane wave on the ear drum, thereby disabling the listeners ability to localize the OmniDrives as distinct sound objects.</p>
  </section>
  <section class="text">
    <h3>Benefits of Omniwave</h3>
    <p>The perception of the resulting Monaural Summing Location, is not bound to a sweet spot; moving the head or walking around does not alter it’s sound qualities and due to the flat power response of the system, it blends naturally with it’s acoustic environment.</p>
    <p>Therefore false localization cues and angle dependent colouration do not distract the listener from the sound information to be transmitted.</p>
    <p>An arrangement of two or more vertical OmniWave arrays perpendicularly to the inter-aural axis, constitutes a sound display with Continuous Phantom Imaging.</p>
    <p>Such a ’curtain of sound’ will be audibly stable and visually transparent, un- independent of the movements and position of the listener. By adjusting its geometry the desired ’sweet spot’ is fully scalable.</p>
    <p>The combined reproduction of an audio signal with one or more OmniWave sources and a single ’conventional’ loudspeaker does not produce audible comb filtering due to spatial aliasing.</p>
    <p>Also, the combined sound waves of an acoustic source and it’s audio representation by one or more OmniWave sources does not suffer from audible comb filtering.</p>
    <p>As the Continuous Phantom Imaging auditory display is independent of any acoustic profiling of the loudspeakers, localization cues embedded in a recording, such as binaural cues, will reach the eardrum undisturbed, thereby enabling a three dimensional mental representation of the sound scene.</p>
    <p>OmniWave enables integration of visual and auditory cues for a coherent representation of objects in order to create meaningful perceptual experiences.</p>
  </section>
  <%= partial :more_about_models %>
</main>